.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background: #b3eae3 !important;  /* أسود فخم */
  border-top: 3px solid #90cfc6;
  min-height: 60px;
  padding: 10px 0;
}

.footer .text-white-50 {
  color: #363232 !important;
}

.footer a {
  color: #134E4A !important;
  transition: all 0.3s;
}

.footer a:hover {
  color: #134E4A !important;
  text-decoration: none !important;
}

.footer i {
  color: #134E4A;
}